* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #9f9f9f;
}

.contenedor {
    background-color: #000;    
}


.contenedor img {
    height: 70px;
    width: 55px;
    margin: 8px;
} 


.principal {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.principal h1 {
    font-family: sans-serif;
    font-size: 40px;
    align-self: flex-start;
    margin: 10px;
    color: #000;
    text-shadow: #000 1px 1px 3px;
}

span {
    color: #9c5a9c;
}


.principal h2 {
    font-family: sans-serif;
    font-size: 30px;
    margin: 10px;
    color: aliceblue;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 0s;
    
}

.principal .img {
    height: 350px;
    width: 250px;
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 40px;
}



.principal p {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 80px;
    margin-bottom: 10px;
    color: aliceblue;
    width: 350px;
}

.principal .pInicio {
    width: 990px;
}

.principal video {
    margin-bottom: 20px;
}

.carousel-item img{
    height: 450px;
    width: 700px;
    
}


.formulario {
    margin-bottom: 100px;
    color: aliceblue;
}

.formulario textarea {
    resize: none;
}


.pieDePagina {
    background-color: #000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}
.pieDePagina p{
    color: #ff6cff;
    margin: 10px;
    text-shadow: #000 .5px .5px;
}


@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 1090px) {
     .contenedor {
        width: 100%;
     }

}

@media (max-width: 795px) {
    .contenedor {
        width: 100%;
       
    }
}

@media (max-width: 620px) {
    .contenedor {
        width: 100%;
    }
}

@media (max-width: 515px) {
    .contenedor {
        display: flex;
       flex-direction: column;
       align-items: center;
    }
    nav, ul, li {
        display: block;
    }
}

@media (max-width: 320px) {
    .contenedor {
        font-size: 10px;
}

    .pieDePagina {
        height: 350px;
        padding-top: 250px;
    }
}